*,*:before,*:after{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.input{
    padding : 10;
    margin : 10;
    width: 60%;
    border-radius: 10px;

}

.button{
    padding : 10;
    margin : 10;
    width: 30%;
    border-radius: 10px;
}
.button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.61);
    color: rgba(255, 255, 255, 0.575);
}


.text{
    padding :10;
    margin : 10;
    border : 1px solid gray;
    display: block;
    border-radius: 10px;
    
}

.mainContainer{
    width: 80%;
    margin: auto;

}

.inputContainer1{
    background-color: rgba(85, 85, 82, 0.24);

    flex-direction: row;
    padding: 10;
    margin:10;
    border-radius: 20px;
    
    
}

.inputContainer2{
    background-color:  rgba(85, 85, 82, 0.24);
    flex-direction: row;
    padding:10;
    margin:10;
    border-radius: 20px;
   
}
.concatContainer{
    background-color:  rgba(22, 22, 19, 0.24) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10;
    margin:10;
    border-radius: 20px;
    
    
}
